<div class="product-card">
    <div class="card">
        <ul>
            {{#each list}}
            <li>{{name}} {{description}} {{price}} {{id}} <a href="/product-edit?id={{id}}">Редагувати</a></li>
            {{/each}}
        </ul>
    </div>
</div>